.row{
    width: 100%;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.filter-card{
    // padding:1rem !important
}

.more-p{
    // padding:0.5rem 0.5rem 0 0.5rem;
}


.filter-calendar{
    border: 1px solid #f3f3f3;

}