<div class="container-height">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async)?.matches ? 'over' : 'side'" [opened]="!(isHandset$ | async)?.matches">
      <div class="logo">
        <img src="../../../assets/logo-in.svg" routerLink="" class="cursor" />
      </div>
      <mat-nav-list>
        <div class="menu-list">
          <div mat-list-item routerLink="/dashboard" class="menu-list-item" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            <div class="circle"></div>
            <div>
              <img src="../../../assets/store.svg"  class="icon" />
              <p class="menu-item-text">Home</p>
            </div>
          </div>
          <div mat-list-item routerLink="/dashboard/items" class="menu-list-item" routerLinkActive="active">
            <div class="circle"></div>
            <div>
              <img src="../../../assets/food.svg"  class="icon" />
              <p class="menu-item-text">Menu items</p>
            </div>
          </div>
          <div mat-list-item routerLink="/dashboard/cart" class="menu-list-item" routerLinkActive="active">
            <div class="circle"></div>
            <div>
              <img src="../../../assets/cart.svg"  class="icon" />
              <p class="menu-item-text">Cart</p>
            </div>
          </div>
          <div mat-list-item routerLink="/dashboard/orders" class="menu-list-item" routerLinkActive="active">
            <div class="circle"></div>
            <div>
              <img src="../../../assets/scooter.svg"  class="icon" />
              <p class="menu-item-text">Orders</p>
            </div>
          </div>
          <div mat-list-item routerLink="/dashboard/branches" class="menu-list-item" routerLinkActive="active">
            <div class="circle"></div>
            <div>
              <img src="../../../assets/pin.svg"  class="icon" />
              <p class="menu-item-text">Branches</p>
            </div>
          </div>

        </div>
      </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content>
      <app-header></app-header>
      <div class="padding">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>