.cancel{
    height: 40px;
    cursor: pointer;
    filter: invert(0.5);
}

.cancel:hover{
    filter: invert(1);
}

.menus{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 40px);
    .menu-item{
        font-size: 5rem;
        font-weight: 700;
        transition: 0.5s;
        // text-shadow: 3px 6px 3px #828282a1;
        color: #757575;
        position: relative;
        cursor: pointer;
        
    }
}

.menu-item:hover{
    color: white !important;
}

.active{
    text-decoration: line-through;
    color: white !important;
}

.back{
    // background: linear-gradient(to right, #6190e8, #a7bfe8);
    // background-image: url('../../../../assets/back-side2.svg');
    background-color: #1e2025;
    padding:2rem;
}