.header{
    padding:2rem 3rem 0 3rem;
}

.search{
    flex: 1;
    input{
        width: 40%;
        border:none;
        height: 40px;
        padding:0 1rem;
        border-radius: 30px;
    }
}

.profile{
    .notification{
        height: 25px;
    }
    .profile-img{
        height: 40px;
        border-radius: 5px;
        margin-left: 1rem;
    }
}