.map{
    background: white;
    height: 90%;
    position: relative;
    overflow: hidden;  
    border-radius: 5px;
}


#map{
  position: initial;
  height: 100%;
}

.address-card{
    min-height: 150px;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.icon{
    // width: 50px;
    font-size: 2.5rem;
    margin-right: 1.5rem;
}