/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Poppins:100,300,400,500,600,700,800,900');

body,html {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 0.95rem !important;
    background-color: #cecfc094 !important;
  }
  
  $custom-typography: mat-typography-config(
    $font-family: 'Poppins' !important
  );
  
  @include angular-material-typography($custom-typography);

  .b,b{
    font-weight: 600;
  }
  
  .xb{
    font-weight: 800;
  }


  .flex-justify{
    display: flex;
    justify-content: space-between;
  }
  .flex-justify-align{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .flex-align{
    display: flex;
    align-items: center;
  }

  .flex{
    display: flex;
  }

  .fw{
    width:100%;
  }

  .fh{
    height:100%;
  }

  *:focus{
    outline: none !important;
  }

  .order-btn{
    border: none;
    padding:8px 20px;
    border-radius: 3px;
    background-color: #42b575;
    color: white;
}


.white{
  color: white;
}


.dark-mode{
  background-color: #1e2025 !important;
    color: #d6d6d6 !important;
}