/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Poppins:100,300,400,500,600,700,800,900');

body,html {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 0.9rem;
  }
  
  $custom-typography: mat-typography-config(
    $font-family: 'Poppins' !important
  );
  
  @include angular-material-typography($custom-typography);

  .b,b{
    font-weight: 600;
  }
  
  .xb{
    font-weight: 800;
  }
