<div class="home">
    <div class="header-plate">
        <div class="flex-justify">
            <div>
                <img src="../../assets/logo.svg" class="logo">
            </div>
            <div class="yellow-plate">
                <div class="simple-plate">
                    <div class="inner-plate">
                        <img src="../../assets/dish5.svg" class="fw" />
                    </div>
                </div>
            </div>
            <div class="red-plate">
                <div class="simple-plate">
                    <div class="inner-plate">
                        <img src="../../assets/dish4.svg" class="fw" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-plate">
        <div class="row">
            <div class="col-md-6 coll">
                <div class="plate-div">
                    <div class="plate">
                    </div>
                    <div class="dish">
                        <img [src]="'../../assets/'+img?.src" id="dishAnimate" class="animate dish-img" />
                    </div>
                </div>
            </div>
            <div class="col-md-6 heading-col">
                <div class="text-div">
                    <h1 class="main-heading b">Hungry Joker</h1>
                    <p class="main-text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book. It
                        has survived not only five centuries, but also the leap into electronic typesetting, remaining
                        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                        containing,industry's standard dummy text ever since the 1500s.</p>
                    <button class="dish-btn mt-3">Order Now</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="part">
    <div class="one-part">
        <div class="row">
            <div class="col-md-6">
                <div class="hover-div">
                    <img src="../../assets/dish1.svg" />
                    <div class="dot">

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="item-div">
                    <div>
                        <h2 class="b">Rainbow Chicken</h2>
                        <p>Fresh slice of industry's standard dummy text<br> ever since the 1500s</p>
                        <h4>$30</h4>
                        <button class="order-btn mt-2">Order Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="one-part">
        <div class="row">

            <div class="col-md-6">
                <div class="item-div">
                    <div>
                        <h2 class="b">Hot Dog Meals</h2>
                        <p>Fresh slice of industry's standard dummy text<br> ever since the 1500s</p>
                        <h4>$70</h4>
                        <button class="order-btn mt-2">Order Now</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="hover-div">
                    <img src="../../assets/dish6.svg" />
                    <div class="dot dot-right">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="one-part">
        <div class="row">
            <div class="col-md-6">
                <div class="hover-div">
                    <img src="../../assets/dish5.svg" />
                    <div class="dot">

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="item-div">
                    <div>
                        <h2 class="b">Crispy Prawns</h2>
                        <p>Fresh slice of industry's standard dummy text<br> ever since the 1500s</p>
                        <h4>$50</h4>
                        <button class="order-btn mt-2">Order Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="our-story">
    <img src="../../assets/food.svg" class="img1" />
    <img src="../../assets/fish.svg" class="img2" />
    <img src="../../assets/ice-cream.svg" class="img3" />
    <div>
        <img src="../../assets/serving-dish.svg" />
        <h2>Our Story</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions.</p>
    </div>
</div>
<div class="testimonials">
    <div class="text-center">
        <img src="../../assets/chat.svg" class="review-img" />
        <h2>Reviews</h2>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item slide-item active">
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 carousel-col">
                            <div class="carousel-text">
                                <h4 class="b">Joe Morgan</h4>
                            <p class="mt-4 comment"><img src="../../assets/comma.svg" class="comma-left"  />Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into pop.<img src="../../assets/comma.svg" class="comma-right" /></p>
                            </div>
                        </div>
                        <div class="col-md-6 carousel-col">
                            <img src="../../assets/profile2.jpe" class="profile-img" />
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item slide-item">
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 carousel-col">
                            <img src="../../assets/kialo.jpeg" class="profile-img" />
                        </div>
                        <div class="col-md-6 carousel-col">
                            <div class="carousel-text">
                                <h4 class="b">Kailo Daroji</h4>
                            <p class="mt-4 comment"><img src="../../assets/comma.svg" class="comma-left" />Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into pop.<img src="../../assets/comma.svg" class="comma-right" /></p>
                            </div>
                        </div>
                       
                    </div>
                </div>
              </div>
              <div class="carousel-item slide-item">
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 carousel-col">
                            <div class="carousel-text">
                                <h4 class="b">David Macoy</h4>
                            <p class="mt-4 comment"><img src="../../assets/comma.svg" class="comma-left"  />Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into pop.<img src="../../assets/comma.svg" class="comma-right" /></p>
                            </div>
                        </div>
                        <div class="col-md-6 carousel-col">
                            <img src="../../assets/profile2.jpe" class="profile-img" />
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    </div>
</div>
<div class="animation-div">
    <img src="../../assets/burger.svg" class="a1" />
    <img src="../../assets/donut.svg" class="a2"/>
    <img src="../../assets/pizza.svg" class="a3"/>
    <img src="../../assets/coke.svg" class="a4"/>
</div>
<div class="footer">

    <div class="row">
        <div class="col-md-4">
            <div class="p-4 flex-align fh">
                <div>
                    <h4 class="b white">Hungry Joker</h4>
                <div class="mt-4">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
                    <div class="social">
                            <img src="../../assets/facebook.svg" />
                            <img src="../../assets/whatsapp.svg" />
                            <img src="../../assets/instagram.svg" />
                            <img src="../../assets/twitter.svg" />
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hand-img">
                <img src="../../assets/hand.png" />
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-div p-4">
                <div class="feedback-form">
                    <form>
                        <div>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" placeholder="Enter Name" />
                                </div>
                                <div class="col-md-6">
                                    <input type="email" placeholder="Enter Email" />
                                </div>
                                <div class="col-md-12">
                                    <textarea placeholder="Give us some feedback ..." rows="3"></textarea>
                                </div>
                            </div>
                            <button class="submit-btn order-btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>