<div class="home">
    <div class="header-plate">
        <div class="flex-justify">
            <div>
                <img src="../../assets/logo.svg" class="logo">
            </div>
            <div class="yellow-plate">
                <div class="simple-plate">
                    <div class="inner-plate">
                        <img src="../../assets/dish5.svg" class="fw"/>
                    </div>
                </div>
            </div>
            <div class="red-plate">
                <div class="simple-plate">
                    <div class="inner-plate">
                        <img src="../../assets/dish4.svg" class="fw"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-plate">
        <div class="row">
            <div class="col-md-6 coll">
                <div class="plate-div">
                    <div class="plate">
                    </div>
                    <div class="dish">
                        <img [src]="'../../assets/'+img?.src" id="dishAnimate" class="animate dish-img" />
                    </div>
                </div>
            </div>
            <div class="col-md-6 heading-col">
                <div class="text-div">
                    <h1 class="main-heading b">Hungry Joker</h1>
                    <p class="main-text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing,industry's standard dummy text ever since the 1500s.</p>
                    <button class="dish-btn mt-3">Explore More</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="part">
    <div>
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
</div>