<div class="main-page">
  <div class="row main-row">
    <div class="col-md-9 pl-0 data-col">
      <div class="row">
        <div class="col-md-8 pl-0">
          <div class="m-card fh flex-align">
            <div class="row">
              <div class="col-md-7">
                <p class="offer-text">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century.</p>
              </div>
              <div class="col-md-5">
                <div class="offer-img" >
                  <img src="../../../assets/coke.svg" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="m-card fh dark-mode topmeal">
            <div class="meal-text">
              <h5>Top 5 meals</h5>
              <div class="mt-3">
                <p>Chicken Biryani</p>
                <p>Fish Tikka</p>
                <p>Egg Keema</p>
                <p>White Sause Pasta</p>
                <p>Maxicano Pizza</p>
              </div>
            </div>
            <img src="../../../assets/donut.svg" />
          </div>
        </div>
      </div>
      <div>
        <div class="category">
          <div>
            <h5>Categories</h5>
          </div>
          <div class="mt-4 categories-list">
            <div class="category-item" *ngFor="let category of allCategories">
              <div>
                <div class="cat-circle">
                  <img [src]="'../../../assets/'+category?.image" />
                </div>
                <p>{{category?.name}}</p>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      <div class="popular">
        <div>
          <div>
            <h5>Popular this week</h5>
          </div>
          <div class="mt-4 dish-list">
            <div class="row">
              <div class="col-md-4" *ngFor="let dish of allDishes">
                <div>
                  <div class="dish-plate">
                    <div class="plate">
                      <img [src]="'../../../assets/'+ dish?.image" />
                    </div>
                  </div>
                  <div class="m-card dish">
                    <div class="flex-justify-align">
                      <div >
                        <small class="flex-align"><img src="../../../assets/star.svg" class="star"/><span>{{dish?.rating}}</span></small>
                        <p class="mb-0"><b>{{dish?.tag}}</b><br> Rice Bowl</p>
                      </div>
                      <div class="price-circle">
                        <span class="b">${{dish?.price}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 side-col m-card">
      <div class="last-order">
        <h5>Last Order</h5>
        <div class="mt-3">
          <div class="flex-justify-align order-dish">
            <div class="flex-align">
              <div class="order-plate">
                <img src="../../../assets/dish2.svg" />
              </div>
              <div class="ml-3">Crispy Veggie * 2</div>
            </div>
          </div>
          <div class="flex-justify-align order-dish">
            <div class="flex-align">
              <div class="order-plate">
                <img src="../../../assets/dish3.svg" />
              </div>
              <div class="ml-3">Crispy Veggie * 1</div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="offer-list">
        <h5>Offers</h5>
      <div class="m-card offer-card">
        <div>
          <p>Burgers</p>
          <h4>40% OFF</h4>
          <p>CODE : HUNGRY40</p>
        </div>
      </div>
      <div class="m-card offer-card pizza-back">
        <div>
          <p>Pizza</p>
          <h4>30% OFF</h4>
          <p>CODE : HUNGRY30</p>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>