.main-page,.main-row,.side-col{
    height: 100%;
}

.side-col{
    overflow: scroll;
}



.row {
    width: 100%;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.topmeal{
    overflow: hidden;
    position: relative;
    img{
        position: absolute;
        width: 80%;
        bottom: -40%;
        right: -40%;
    }

    .meal-text{
        position: relative;
        z-index: 1;
    }
}

.offer-text{font-size: 1.1rem;}

.category{
    padding:2rem 0;
}

.category-item{
    margin-right: 2rem;
    width: 100px;
    padding:1rem;
    display: flex;
    height: 160px;
    background-color: white;
    border-radius: 100px;
    transition: 0.5s;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-align: center;
    .cat-circle{
        margin-bottom: 1rem;
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        // border: 1px solid #efefef;
        box-shadow: 0px 4px 4px #cacaca;
        img{
            height: 50%;
        }
    }
}



.categories-list{
    display: flex;
    overflow-x: auto;
}

.popular{
    padding-bottom:2rem;
}

.dish-plate{
    position: relative;
    z-index: 1;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    .plate{
        border-radius: 100%;
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
  background-color: white;
  box-shadow: 6px 9px 1px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  img{
    height: 80%;
  }
    }
}

.dish{
    height: 160px;
    position: relative;
    top: -75px;
    padding:91px 1rem 1rem 1rem !important;
    margin-bottom: -30px;
}

.star{
    width: 10px;
    margin-right: 5px;
    position: relative;
    top: -1.5px;
}

.price-circle{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a2a2a2;
    color: white;
    border-radius: 100%;
}